{% extends "base.html" %}
{% block content %}
<div class="header-action">
      <div class="info">
          <h1>Найди поддержку своему проекту</h1>
          <p>На нашей платформе ты можешь найти единомышленников, специалистов, инвесторов, которые помогут тебе реализовать твою идею</p>
          <div class="btn-block">
              <a href="#" class="btn find">Найти специалиста</a>
              <a href="#" class="btn watch">Смореть Проекты</a>
          </div>
      </div>
      <img src="../../static/img/specialist.png" alt="specialist">
</div>
<div class="mentors-projects">
  <div class="mentors">
      <h1>Наши наставники</h1>
      <div class="cards">
          <img src="../../static/img/first-mentor.png" class="lateral" alt="mentor Julia">
          <img src="../../static/img/second-mentor.png" class="center" alt="mentor Yuri">
          <img src="../../static/img/third-mentor.png" class="lateral" alt="mentor Yuri">
      </div>
      <img src="../../static/img/pagination.svg" alt="decoration">
  </div>
  <div class="projects">
      <h1>Наши проекты</h1>
      <img src="../../static/img/first-project.png" class="card-project" alt="card project">
      <img src="../../static/img/second-project.png" class="card-project" alt="card project">
  </div>
</div>
{% endblock content %}